<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RawPrototype - Resume</title>
</head>

<style id="mainStyle">
    .testBorder{
        border: black solid 1px;
    }
    body{
        font-family: 'Arial', sans-serif;
    }
</style>

<!-- You can remove the testBorder class for body, it's just for seeing the limits of real A4 page -->
<body   class="testBorder"  style="width: 814px; padding: 0; margin: 0;">
    <div>
        <section id="PersonalInfo">
            <!-- you have the freedom to write and add and style everything here for example,-->
            <img class="profile-photo" width="150px" height="150px" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Profile Photo" id="profilePicture">
            <div id="firstName">

                <p>The first Name is : </p>
                    <div class="container">

                        <div class="btn btn-dark">

                            {firstName}

                        </div>

                    </div>

                <hr>
                <p>the end of first name</p>






            </div>
            <div id="lastName">
                {lastName}
            </div>
            <div id="profileTitle">
                {profileTitle}
            </div>
            <div id="email">
                {email}
            </div>
            <div id="phoneNumber">
                {phoneNumber}
            </div>
            <div id="address">
                {address}
            </div>
            <div id="city">
                {city}
            </div>
            <div id="postalCode">
                {postalCode}
            </div>
            <a href="{reference}">
                {reference}
            </a>
            <div id="aboutMe">
                {aboutMe}
            </div>
        </section>

        <section id="Education">
            <h2>Education Section</h2>
            <div class="tag-1 enumerable-element" >
                <div class="instituteName">
                    {institutionName}
                </div>
                <div class="degree">
                    {degree}
                </div>
                <div class="started">
                    Started at: {startingMonth} {startingYear}
                </div>
                <div class="present">
                    To: Present
                </div>
                <div class="description">
                    {description}
                </div>
            </div>
            <br>
            <div class="tag-2 enumerable-element" >
                <div class="instituteName">
                    {institutionName}
                </div>
                <div class="degree">
                    {degree}
                </div>
                <div class="started">
                    Started at: {startingMonth} {startingYear}
                </div>
                <div class="finished">
                    To: {finishMonth} {finishYear}
                </div>
                <div class="description">
                    {description}
                </div>
            </div>
        </section>
        <section id="ProfessionalExp">
        <h2>Professional Experience Section</h2>
        <div class="tag-1 enumerable-element">
            <div class="post">
                {post}
            </div>
            <div class="companyName">
                {companyName}
            </div>
            <div class="city">
                {city}
            </div>
            <div class="started">
                Started at: {startingMonth} {startingYear}
            </div>
            <div class="finished">
                To: {finishMonth} {finishYear}
            </div>
            <div class="description">
                {description}
            </div>
        </div>
        <br>
        <div class="tag-2 enumerable-element">
            <div class="post">
                {post}
            </div>
            <div class="companyName">
                {companyName}
            </div>
            <div class="city">
                {city}
            </div>
            <div class="started">
                Started at: {startingMonth} {startingYear}
            </div>
            <div class="present">
                To: Present
            </div>
            <div class="description">
                {description}
            </div>
        </div>

    </section>
        <section id="Skill">
    <h2>Skills</h2>
            <div class="tag-1 enumerable-element">
                <span class="name"> {name} </span>
                <span class="level">{level} </span>
            </div>
            <div class="tag-2 enumerable-element">
                <span class="name"> {name} </span>
                <span class="level"> {level}</span>
            </div>
            <div class="tag-3 enumerable-element">
                <span class="name"> {name} </span>
                <span class="level"> {level}</span> <!-- could be anything: five points/stars, a bar meter, a keyword ("inermediat", "native") -->
            </div>
            <div class="tag-4 enumerable-element">
                <span class="name"> {name} </span>
                <span class="level">{level}</span> <!-- could be anything: five points/stars, a bar meter, a keyword ("inermediat", "native") -->
            </div>
        </section>
        <section id="Language">
            <h2> Languages</h2>
            <div class="tag-1 enumerable-element">
                <span class="name"> {name} </span>
                <span class="level">{level} </span>
            </div>
            <div class="tag-2 enumerable-element">
                <span class="name"> {name} </span>
                <span class="level"> {level}</span>
            </div>
        </section>
        <section id="Interest">
            <h2>Interests</h2>
            <div class="tag-1 enumerable-element">
                <span class="name"> {name} </span>
            </div>
            <div class="tag-2 enumerable-element">





                <span class="name"> {name} </span>






            </div>
        </section>
</div>
</body>

</html>
