<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Name - Resume</title>
</head>

<style>



    .testBorder{
        border: black solid 1px;
    }
</style>
<body   class="testBorder"  style="width: 814px; padding: 0px; margin: 0px;">
    <div>
        <section id="PersonalInfo">
            <h2>Personal Information Section</h2>
            <img class="profile-photo" width="150px" height="150px" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Profile Photo" id="pdp">
            <div id="fullName">FirstName and LastName Here</div>
            <div id="profileTitle">Profile Title Here</div>
            <div id="email">your.email@example.com</div>
            <div id="phoneNumber">+216 97 123 456</div>
            <div id="address">Here Location Address</div>
            <div id="city">Here City Name</div>
            <div id="postalCode">Postal Code Goes here!</div>
            <a href="https://www.whoami.com/" id="reference">[]~$whoAmI</a>
            <div id="aboutMe">All the long long long long long description about you and your boring life should go here i think.</div>
        </section>

        <section id="Education">
            <h2>Education Section</h2>
            <div class="tag-1" >
                <div class="instituteName">National Institute of Applied Science And Technology </div>
                <div class="degree">Software Engineer</div>
                <div class="started">
                    Started at:
                    <span class="month">September </span>
                    <span class="Year">2022</span>
                </div>
                <div class="finished">
                    To:
                    <span class="present"> Present</span>
                </div>
                <div class="description">
                    Here I think there goes to what you have learned here academic skills, maybe some description for your institute...
                </div>
            </div>
            <div class="tag-2" >
                <div class="instituteName">Lycee Mana3refech chnowa </div>
                <div class="degree">Baccalaureat Mention très biens</div>
                <div class="started">
                    Started at:
                    <span class="month">September </span>
                    <span class="Year">2018</span>
                </div>
                <div class="finished">
                    To:
                    <span class="month">Juin </span>
                    <span class="Year">2022</span>
                </div>
                <div class="description">
                    More boring description...
                </div>
            </div>
        </section>
        <section id="ProfessionalExp">
        <h2>Professional Experience Section</h2>
        <div class="tag-1">
            <div class="post">Web Developer</div>
            <div class="companyName">ElyaData</div>
            <div class="city">Tunis</div>
            <div class="started">
                Started at:
                <span class="month">September </span>
                <span class="Year">2018</span>
            </div>
            <div class="finished">
                To:
                <span class="month">Juin </span>
                <span class="Year">2022</span>
            </div>
            <div class="description">
                <ul>
                    <li>Developed and maintained company websites</li>
                    <li>Collaborated with cross-functional teams to achieve project goals</li>
                </ul>
            </div>
        </div>

        <div class="tag-2">
            <div class="post">Intern</div>
            <div class="companyName">ABC Tech</div>
            <div class="city">Tunis</div>
            <div class="started">
                Started at:
                <span class="month">September </span>
                <span class="Year">2022</span>
            </div>
            <div class="finished">
                To:
                <span class="present"> Present</span>
            </div>
            <div class="description">
                <ul>
                    <li>Assisted in front-end development tasks</li>
                    <li>Gained experience with industry-standard tools and practices</li>
                </ul>

            </div>
        </div>

    </section>
        <section id="Skill">
    <h2>Skills</h2>
            <div class="tag-1">
                <span class="name"> HTML </span>
                <span class="level">Pro </span> <!-- could be anything: five points/stars, a bar meter, a keyword ("inermediat", "native") -->
            </div>
            <div class="tag-2">
                <span class="name"> CSS </span>
                <span class="level"> Noob</span> <!-- could be anything: five points/stars, a bar meter, a keyword ("inermediat", "native") -->
            </div>
            <div class="tag-3">
                <span class="name"> JavaScript </span>
                <span class="level"> Good</span> <!-- could be anything: five points/stars, a bar meter, a keyword ("inermediat", "native") -->
            </div>
            <div class="tag-3">
                <span class="name"> NodeJs </span>
                <span class="level">Not Bad</span> <!-- could be anything: five points/stars, a bar meter, a keyword ("inermediat", "native") -->
            </div>
        </section>
        <section id="Language">
            <h2> Languages</h2>
            <div class="tag-1">
                <span class="name"> French </span>
                <span class="level">Intermediate </span> <!-- could be anything: five points/stars, a bar meter, a keyword ("inermediat", "native") -->
            </div>
            <div class="tag-2">
                <span class="name"> Arabic </span>
                <span class="level"> Native</span> <!-- could be anything: five points/stars, a bar meter, a keyword ("inermediat", "native") -->
            </div>
        </section>
        <section id="Interest">
            <h2>Interests</h2>
            <ul>
                <li>Football</li>
                <li>Cycling</li>
                <li>VideoGames</li>
                <li>Chess</li>



            </ul>
        </section>
</div>
</body>
</html>
